<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32310">
        <setting type="lsep" label="General Settings" />
        <setting id="first.start" type="bool" label="startup control" default="true" visible="false" />
        <setting id="realdebrid.authorise" type="action" label="Authorise Real Debrid" option="close" action="RunPlugin(plugin://plugin.video.realizer.nick/?action=authRealdebrid)" />

        <setting type="lsep" label="Cosmetics" />
        <setting id="sort.torrents" type="bool" label="Sort Torrents Alphabetically" default="false" />
    </category>
</settings>
